body{
    background-color:  #f1f1f1;
    font-family: Verdana;
}
img{
    width: 190px;
}
h1{
    font-size: 24px;
    border: 5px solid #606062;
    color: #606062;
    font-weight: bold;
    padding: 10px;
}
h2{
    font-size: 20px;
    color: #7a797b;
    margin: 35px 20px;
  
}

h3{
    font-size: 18px;
    color: #606062;
    margin-top: 30px;
    text-align: center;
    border-top: 2px solid #606062;
    border-bottom: 2px solid #606062;
    font-weight: normal;
    padding: 10px 0;
    margin-top: 30px;
  
}

div{
    margin: 0 auto;
    width: 600px;
    text-align: center;
    
}
p{
    font-size: 18px;
    line-height: 32px;
    text-align: justify;
    color: #616163;
    margin-bottom: 35px;
}

a{
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
    border-radius: 25px;
    background-color: #25d366;
    margin-top: 15px;
    padding: 10px 15px;
}